.form-mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0 auto;
    position: absolute;
    top: 30%;
    left: 40%;
}

.task-Input {
    width: 400px;
    height: 40px;
    font-family: 'Labrada', serif;
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Shantell Sans', cursive;

}


.createDeleteButton {
    background-color: red;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 52%;
    bottom: 30%


}

.createUserButton {
    background-color: green;
    border: solid 1px black;
    border-radius: 10px;
    color: aliceblue;
    position: absolute;
    right: 33%;
    bottom: 30%
}